<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Untitled Document</title>
    <script type="text/javascript">

</script>

</head>

<html>
<body>
<h1>当ページの利用手順</h1><br>
①
<a href="data:,

<!DOCTYPE html>%0A
<html lang=&quot;ja&quot;>%0A
%0A
<head>%0A
    <meta charset=&quot;utf-8&quot;>%0A
    <title>TM Lib : Editor</title>%0A
</head>%0A
%0A
<body>%0A
<noscript>%0A
    <p class=&quot;warning-message&quot; <a href=&quot;/web-app/support/javascript/&quot;>;JavaScriptを有効にする</a>と、サンプルを実行できます</p>%0A
</noscript>%0A
説明:txtarea内に好きな言葉を記述しダウンロードを行うとそのtxtファイルが記述されます%0A
<div class=&quot;example-box&quot;>%0A
    <textarea style=&quot;display: block&quot; rows=20 cols=100>県名,市名,必要なもの</textarea><a href=&quot;jtavascript:;&quot; download=&quot;sample.txt&quot;>ダウンロード</a>%0A
</div>%0A
<script type=&quot;text/javascript&quot;>%0A
    (function() {%0A
        var anchor = document.links[document.links.length - 1]%0A
        if ('download' in anchor) {%0A
            anchor.download = 'sample.txt';%0A
            anchor.onclick = function() {%0A
                var text = &quot;<ここから>--------------------------\n&quot;%0A
                text += this.previousSibling.value%0A
                text += &quot;\n-------------------------------<ここまで>&quot;%0A
                this.href = 'data:,' + encodeURIComponent(text);v
            }%0A
        } else {%0A
            var message = document.createElement('span');%0A
            message.className = 'warning-message';%0A
            message.appendChild(document.createTextNode('お使いのブラウザでは、download属性がサポートされていません。'));%0A
%0A
            anchor.parentNode.appendChild(message);%0A
        }%0A
    })();%0A
    </script>%0A
</br>%0A
</br>%0A
</br>%0A
</br>%0A
</br>%0A
</br>%0A
</br>%0A
</br>ダウンロードしたファイルを選択してください</br>%0A
<form name=&quot;test&quot;>%0A
    <input type=&quot;file&quot; id=&quot;selfile&quot; valu>%0A
    <br>%0A
    <textarea name=&quot;txt&quot; rows=&quot;10&quot; cols=&quot;50&quot; readonly></textarea>%0A
</form>%0A
<script src=&quot;https://code.jquery.com/jquery-2.1.4.min.js&quot;></script>%0A
<script src=&quot;https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js&quot;></script>%0A
<script>%0A
    var obj1 = document.getElementById(&quot;selfile&quot;);%0A
%0A
    //ダイアログでファイルが選択された時%0A
    obj1.addEventListener(&quot;change&quot;, function(evt) {%0A
%0A
        var file = evt.target.files;%0A
%0A
        //FileReaderの作成%0A
        var reader = new FileReader();%0A
        //テキスト形式で読み込む%0A
        reader.readAsText(file[0]);%0A
%0A
        //読込終了後の処理%0A
        reader.onload = function(ev) {%0A
            //テキストエリアに表示する%0A
            document.test.txt.value = reader.result;%0A
        }%0A
        var clipboard = new Clipboard('.btn');%0A
    }, false);%0A
%0A
    $(function() {%0A
        var clipboard = new Clipboard('.btn');%0A
    });%0A
    </script>%0A
</body>%0A
%0A
</html>%0A

" download="localindex.html">こちらを押してください(ローカルサイトがダウンロードされます)</a></br></br>

②
<!-- コピー対象 -->
<input id="foo" value="file:///sdcard/Download/localindex.html" size="60">
（左のURLをコピーしてください）
</br>今後は上記のURLで作業することになる
<script>

var cp = new Clipboard( ".btn" ) ;
	</script>


</br></br>③下の状態ボックスに「切断」という文字列を入力してください(オーナーとの接続がきれます)</br></br>
④③以降の動作は②でコピーしたローカルサイトに操作するので今観覧しているブラウザで</br>file:///sdcard/Download/localindex.htmlにアクセスしてください</br>
<h1>③：状態ボックス</h1>

</body>
</html>